* {
    border-radius: 0;
    border: none;
    font-family: MonoLisa;
    margin: 1px 2px 0 2px;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar .hidden {
    opacity: 0.2;
}


#workspaces {
    border-radius: 10px;
    transition: none;
}

#workspaces button {
    color: #6272a4;
    font-size: 20px;
    padding: 5px;
    transition: all 0.1s ease-in;
    margin: 0;
}

#workspaces button:hover {
    color: #f8f8f2;
    background: none;
}

#workspaces button.urgent {
    color: #ff5555;
}

#workspaces button.persistent {
    color: #6272a4;
    font-size: 12px;
}

#workspaces button.focused {
    color: #50fa7b;
    font-weight: 700;
}

#battery,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#workspaces {
    background: #282a36;
    color: #f8f8f2;
    margin: 0;
}

/* MODULES
 * ====================================================== */
#mode {
    border-radius: 10px;
    color: #ffb86c;
    font-style: italic;
    padding: 0 5px;
}

#cpu {
    border-bottom-left-radius: 10px;
    border-right: 3px solid #bd93f9;
    border-top-left-radius: 10px;
    min-width: 30px;
    padding: 0 10px;
}

#temperature {
    border-right: 3px solid #bd93f9;
    padding: 0 10px;
}
#temperature.critical {
    animation: blink 1s ease-in-out infinite alternate;
    background:#ff5555;
    color:#f8f8f2;
}

#memory {
    border-right: 3px solid #bd93f9;
    padding: 0 8px;
}

#disk {
    border-right: 3px solid #bd93f9;
    padding: 0 8px;
}

#network {
    border-right: 3px solid #bd93f9;
    min-width: 180px;
    padding: 0 8px;
}

#battery {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 10px 0 8px;
}
#battery.charging, #battery.plugged {
    background-color: #50fa7b;
    color: #282a36;
}
#battery.warning {
    background-color: #f1fa8c;
    color: #282a36;
}
#battery.critical {
    background-color: #ff5555;
    color: #f8f8f2;
}
#battery.critical:not(.charging) {
    animation: blink 1s ease-in-out infinite alternate;
}

#clock {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 5px;
}

#idle_inhibitor {
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
}
#idle_inhibitor.activated {
    background: #f1fa8c;
    color: #282a36;
}

#pulseaudio {
    border-radius: 10px;
    min-width: 60px;
    padding: 0 5px;
    transition: all 0.3s ease-in-out;
}
#pulseaudio.muted {
    background-color: #ff5555;
    color: #282a36;
}

#tray {
    border-radius: 10px;
    margin: 0 10px;
    padding: 0 5px;
}

@keyframes blink {
    to {
        background-color: #282a36;
        color: #f8f8f2;
    }
}
